#functions {
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}

#functions > a {
    width: calc((80% - (6 * 10px))/3);
    padding: 5px;
    border-right: 1px solid black;
    color: black;
    text-decoration: none;
}

#functions > a:hover {
    background-color: #F5F5F5;
}

a:last-child {
    border-right: none;
}