#functions {
    width: 65%;
    margin: 35px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

#functions > a {
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

#functions > a:hover > h3 {
    text-decoration: underline;
}

#functions > a > h3 {
    margin: 10px 0 15px 0;
    font-weight: 900;
    font-variant: all-petite-caps;
    font-size: 25px;
}

#functions > a > p {
    margin: 10px 0;
}