@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "../partsOfWebsite/css/nav.css";
@import "../partsOfWebsite/css/footer.css";

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

main {
    width: 100%;
    margin: 0 auto;
}

.profileButton {
    border: none;
    color: black;
}

.loginBtn, .registerBtn {
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #42a7f5;
    text-decoration: none;
    cursor: pointer;
}

.registerBtn {
    margin-left: 5px;
}

.buttonWrapper {
    min-width: 200px;
}

.flex-container {
    display: flex;
    color: #2A2C2F;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-child {
    width: 100%;
    height: 400px;
}

.flex-child:first-child {
    margin-right: 0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height: 400px;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Small screens */
@media all and (max-width: 600px) {
    .flex-container {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }

    .fill {
        width: 100%;
    }
}

h3 {
    font-size: 28px;
}

p {
    padding: 20px;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn26 {
    background-image: linear-gradient(
            to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}








