input {
    border: none;
    height: 50px;
    width: 450px;
    font-size: 22px;
    padding: 10px;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
}

main {
    width: 75%;
    margin: 0 auto;
}

#display {
    background: white;
    width: 450px;
    font-size: 22px;
    text-align: left;
}

li {
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #ECECEC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mainSearchButton {
    width: 100px;
    height: 50px;
    margin-left: -15px;
    background: #42a7f5;
    color: white;
    border: none;
    font-size: 22px;
}

#searchBox {
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sporsmalOverskrift {
    width: 65%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

