#wrapper {
    background-color: #f4f7f8;
    padding: 10px;
    margin: 20px auto 20px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select, input {
    padding: 10px;
    background-color: #e8eeef;
    border: none;
    color: #8a97a0;
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0;
}

#passwordLogin {
    margin-top: 20px;
}

input:focus {
    outline: none;
}

select:focus {
    border: none;
}

label {
    display: block;
    padding-bottom: 8px;
}

#wrapper2 {
    margin: auto;
    width: 95%;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    width: 170px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.loginRegisterBtnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.forgot-password {
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body, .statusmsg {
    background-color: #e2e8f0;
    border: none;
}

#errorMessage {
    margin: 10px 0 0 0;
    color: red;
}

#specOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#specOutput > p {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #42a7f5;
    padding: 2.5px;
}

#specOutput > p:nth-of-type(n + 2) {
    margin-left: 5px;
}

h1 {
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 50px;
}

section.registerAndLoginForm {
    width: 55%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}

form {
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

form > label, button {
    margin: 10px 0 0 0;
}

div.toRegister {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.toLogin {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #FF416C;
    background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);
    background: linear-gradient(to left, #FF4B2B, #FF416C);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.toLogin > h2, .toRegister > h2 {
    margin: 0;
    font-size: 35px;
}

.toLogin > p, .toRegister > p {
    width: 75%;
    font-size: 22px;
}

.marginTop {
    margin-top: 60px;
}

/*TYPE OF USER*/
form > div.typeOfUser {
    width: 80%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    margin: 40px auto 25px;
}

form > div.typeOfUser > label.typeOfUser_label {
    padding: 5px 0;
    display: block;
    width: calc(100%/3);
    text-align: center;
    cursor: pointer;
}

form > div.typeOfUser > label.typeOfUser_label:nth-of-type(n+2) {
    border-left: 1px solid black;
}

form > div.typeOfUser > input[type=radio] {
    display: none;
}

form > div.typeOfUser > input[type=radio]:checked + label {
    background-color: #FF4B2B;
    color: #FFFFFF;
}

form > div.typeOfUser > label.typeOfUser_label:first-of-type {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

form > div.typeOfUser > label.typeOfUser_label:last-of-type {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.spacer {
    height: 50px;
}

.regOrLoginBtn {
    display: inline-block;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-align: center;
    transition: all 0.2s;
    width: 180px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.regOrLoginBtn:hover {
    color: #000000;
    background-color: #ffffff;
}

.hide {
    display: none;
}