/*TYPE OF USER*/
form > div.typeOfUser {
    width: 100%;
    display: flex;
}

form > div.typeOfUser > label.typeOfUser_label {
    padding: 5px 0;
    display: block;
    width: calc(100%/3);
    text-align: center;
    cursor: pointer;
}

form > div.typeOfUser > label.typeOfUser_label:first-of-type {
    background-color: red;
}

form > div.typeOfUser > label.typeOfUser_label:nth-of-type(n+2) {
    border-left: 1px solid black;
}

form > div.typeOfUser > input[type=radio] {
    display: none;
}

