#wrapper {
    background-color: #f4f7f8;
    padding: 10px;
    margin: auto;
    width: 25%;
    border-radius: 8px;
}

select {
    padding: 10px;
    background-color: #e8eeef;
    border: none;
    color: #8a97a0;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    background-color: #e8eeef;
    border: none;
    color: #8a97a0;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

select:focus {
    border: none;
}

label {
    display: block;
    padding-bottom: 8px;
}

#wrapper2 {
    margin: auto;
    width: 95%;
}

#button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#errorMessage {
    margin: 10px 0 0 0;
    color: red;
}

h1 {
    text-align: center;
    margin: 0;
}

section.registerAndLoginForm {
    width: 55%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: row;
}

form {
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

form > label, button {
    margin: 10px 0 0 0;
}

div.toLoginOrRegister {
    width: 50%;
    padding: 10px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.toLoginOrRegister > h2 {
    margin: 0;
}

div.toLoginOrRegister > p {
    width: 75%;
}


/*TYPE OF USER*/
form > div.typeOfUser {
    width: 100%;
    display: flex;
}

form > div.typeOfUser > label.typeOfUser_label {
    padding: 5px 0;
    display: block;
    width: calc(100%/3);
    text-align: center;
    cursor: pointer;
}

form > div.typeOfUser > label.typeOfUser_label:nth-of-type(n+2) {
    border-left: 1px solid black;
}

form > div.typeOfUser > input[type=radio] {
    display: none;
}

form > div.typeOfUser > input[type=radio]:checked + label {
    background-color: red;
}
