#questionsFromUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#questionsFromUser > div {
    width: calc(100% / 3);
    margin: 0 10px;
}

#questionsFromUser > div > article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#questionsFromUser > div > article:nth-of-type(n) {
    margin: 1px 0;
    border: 1px solid black;
}

#questionsFromUser > div > article > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#questionsFromUser > div > article > ul {
    padding-left: 0;
}

#questionsFromUser > div > article > ul > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 3px;
    margin: 2px 0;
}


#newQuestionSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newQuestionSection > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background-color: black;
}

#newQuestionSection > form {
    width: 30%;
    padding: 15px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#newQuestionSection > form > * {
    margin: 5px 0;
}

#newQuestionSection > form > input,
#newQuestionSection > form > textarea {
    margin: 5px 0 10px 0;
}

#newQuestionSection > form > label {
    font-size: 20px;
    font-weight: 900;
    font-variant: small-caps;
}