#questionsFromUser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


#questionsFromUser > div:not(:first-of-type) {
    border-left: 2px dotted black;
    padding-left: 10px;
}

#questionsFromUser > div > article {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

#questionsFromUser > div > article:not(:last-of-type) {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#questionsFromUser > div > article:not(:last-of-type) {
    margin-bottom: 10px;
}

#questionsFromUser > div:not(:nth-of-type(2)) > article > div:last-of-type,
#questionsFromUser > div:not(:nth-of-type(2)) > article > div:last-of-type {
    border-left: 2px dotted black;
    margin: 0;
    padding: 10px 0 10px 10px;
}

#questionsFromUser > div > article > div:last-of-type > p,
#questionsFromUser > div > article > div:last-of-type > a {
    margin: 0;
    color: black;
}

#questionsFromUser > div > article > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#questionsFromUser > div > article > div > h2 {
    margin: 0;
    padding: 10px 0;
    text-decoration: underline;
}

#questionsFromUser > div > article > div > p {
    margin: 0;
    padding: 0 10px 10px 0;
}

#questionsFromUser > div > article > ul {
    padding: 10px;
    margin: 0;
    border-left: 2px dotted black;
}

#questionsFromUser > div > article > ul > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

#questionsFromUser > div > article > ul > li:first-of-type {
    padding: 0 0 10px 0;
}

#questionsFromUser > div > article > ul > li:last-of-type {
    padding: 10px 0 0 0;
}

#questionsFromUser > div > article > ul > li:not(:last-of-type) {
    border-bottom: 2px dotted black;
}

#questionsFromUser > div > article > ul > li > div > a {
    color: black;
}


#newQuestionSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newQuestionSection > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background-color: black;
}

#newQuestionSection > form {
    width: 30%;
    padding: 15px;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#newQuestionSection > form > * {
    margin: 5px 0;
}

#newQuestionSection > form > input,
#newQuestionSection > form > textarea {
    margin: 5px 0 10px 0;
}

#newQuestionSection > form > label {
    font-size: 20px;
    font-weight: 900;
    font-variant: small-caps;
}