nav {
    width: 75%;
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

nav > a > img {
    width: 50%;
}