div.navDiv {
    width: 100%;
    background-color: #2A2C2F;
}

nav {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    padding: 10px;
}

nav > a > img {
    width: 75%;
}

nav > section.mainNavigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav > section.mainNavigation > a {
    margin: auto;
    text-decoration: none;
    color: #FFFFFF;
    font-variant: all-petite-caps;
    font-weight: 900;
    font-size: 25px;
}

nav > section {
    color: #FFFFFF;
}

nav > section.mainNavigation > a:hover {
    text-decoration: underline;
    color: gray;
}

nav > section.mainNavigation > a:active {
    color: lightgray;
}
