body {
    background-color: #e2e8f0;
    text-align: left;
    color: #1a202c;
}

main {
    height: 1000px;
}

#newProfilePictureDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#newProfilePictureDiv > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background-color: black;
}

#newProfilePictureDiv > form {
    width: 30%;
    padding: 20px;
    background-color: #FFFFFF;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#newProfilePictureDiv > form > * {
    margin: 5px 0;
}

#newProfilePictureDiv > form > input {
    margin: 5px 0 10px 0;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid black;
    width: 100px;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.ButtonWrapper {
    display: flex;
    justify-content: center;
}

.submitBtnWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#pictureForm > h1 {
    text-align: center;
    margin-bottom: 50px;
}

.profile-image-container {
    position: relative;
}

.image {

}

.overlay {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    transition: .3s ease;
    background-color: white;
}

.profile-image-container:hover .overlay {
    opacity: 1;
}

.icon {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pageWrapper {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "profileCard userInfo"
        "links userInfo";
    margin: 50px auto;
    padding: 0;
    width: 60%;
}

.alignLeft {
    margin-right: 20px;
}

.profileCard {
    background: #FFFFFF;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    text-align: center;
    border-radius: 4px;
}

.links {
    height: 200px;
    margin-top: 20px;
    background: #FFFFFF;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 20px;
}

i {
    margin-right: 10px;
    margin-top: 5px;
}

.userInfo {
    background: #FFFFFF;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 20px;
}

#profilePicture {
    margin-top: 10px;
    border-radius: 50%;
}

.profileCardText {
    font-size: 20px;
    color: #6C757D;
}

h6 {
    margin: 0;
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 28px;
}

.firstMargin {
    margin-bottom: 20px;
}

.Margins {
    margin-bottom: 20px;
    margin-top: 20px;
}

.displayTop1, .displayTop2, .displayTop3, .displayTop4, .displayTop5, .displayTop6, .displayTop7, .displayTop8, .displayTop9 {
    display: inline;
    vertical-align: top;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #6C757D;
    line-height: 28px;
}

.displayTop1 {
    margin-left: 200px;
}

.displayTop2 {
    margin-left: 235px;
}

.displayTop3 {
    margin-left: 230px;
}

.displayTop4 {
    margin-left: 215px;
}

.displayTop5 {
    margin-left: 110px;
}

.displayTop6 {
    margin-left: 170px;
}

.displayTop7 {
    margin-left: 190px;
}

.displayTop9 {
    margin-left: 180px;
}

.textAlign {
    text-align: right;
}

.alignToRight1, .alignToRight2, .alignToRight3, .alignToRight4 {
    display: inline;
    vertical-align: top;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #6C757D;
    line-height: 28px;
}

.alignToRight1 {
    margin-left: 50px;
}

.logOutBtn, .editProfileBtn, .messageBtn {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #007Bff;
    margin: 0 0.3em 20px 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #007Bff;
    text-align: center;
    transition: all 0.2s;
}

.logOutBtn:hover, .editProfileBtn:hover, .messageBtn:hover {
    color: white;
    background-color: #007Bff;
}